/* =============================================== *\ 
    Callout Styles
\* =============================================== */

/*============================================

Usage:
	<div class="callout-img-button">
		<img src="">
		<div class="btn-group">
			<a href="" class="btn"></a>
		</div>
		<!-- extra content -->
	</div>

=============================================*/

.callout {

	/* image button callouts */
	&-img-btn {
		margin-bottom: 72px;
		position: relative;

		/* img */
		img {
			max-width: 100%;
			box-shadow: 2px 2px 12px rgba(0,0,0,.5);
		}
		/* btn */
		.btn-group {
			position: absolute;
			top: calc(50% - 27px);
			left: 0;
			width: 100%;
			z-index: 3;

			.btn {
				box-shadow: 1px 1px 5px #333;
			}
		}
		&:before {
			background-color: rgba(0,0,0,.2);
			content: '';
			height: 100%;
			left: 1.5rem;
			position: absolute;
			top: 0;
			transition: ease .3s background-color;
			width: calc(100% - 3rem);
			z-index: 2;
		}
		&:after {
			bottom: -36px;
			content: attr(title);
			color: $color-white;
			font-weight: bold;
			padding-top: 1.2rem;
			left: 0;
			position: absolute;
			width: 100%;
		}
	}

}
