/* =============================================== *\ 
    Cards
\* =============================================== */

.card {
	margin-bottom: 25px;
	color: $color-black;
	min-height: 300px;
	display: block;
	border: 1px solid #ddd;
	border-radius: 3px;

	&-image {
		background-color: #eee;
		background-size: cover;
    background-repeat: no-repeat;
		background-position: center;
		height: 140px;
		position: relative;

		&:after {
			background-color: rgba(0,0,0,0);
			color: #fff;
			content: '';
			height: 100%;
			position: absolute;
			transition: .3s ease background-color;
			width: 100%;
			z-index: 1;
		}
	}

	&-content {
		padding: 24px;
		text-align: center;

		h5 {
			margin-bottom: 6px;
		}
		.card-date,
		.card-desc {
			color: #888;
			font-size: 12px;
			margin-bottom: 12px;
		}
	}

	&:hover {
		.card-image:after  {
			background-color: rgba(0,0,0,.2);
		}
	}
}

.card.card-long {
	min-height: 504px;
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 4px 4px 20px 0 rgba(0,0,0,.14);
}
.card.card-long ul{
	text-align: left;
	margin-left: 42px;
}

.card.card-long h3,
.card.card-long h1,
.card.card-long p {
	margin-top: 12px;
}

.card.card-long .btn,
.card.card-wide .btn {
	width: 100%;
}

.card-icon {
	width: 100px;
  margin-bottom: -24px;
}

.card-icon.icon {
	font-size: 50px;
	margin-top: 24px;
	display: inline-block;
}

.card img {
	width: 100px;
	margin-bottom: 2.4rem;
}

.card > p {
	color: $color-grey;
}

.card.card-wide {
	height: initial;
	background-color: white;
	border-radius: 8px;
	box-shadow: 4px 4px 20px 0 rgba(72,63,63,.25);
}

.card.card-wide p{
	text-align: left;
}

@media (max-width: 767px) {
	.card {
		min-height: auto;
	}
}
