/* =============================================== *\ 
    Buttons
\* =============================================== */

:root {
	--btn-color: #bbb;
}

.btn {    
	align-items: center;
	background-color: currentColor;
	border: 2px solid currentColor;
	border-radius: 3px;
	padding: 0 36px;
	font-size: 16px;
	display: inline-flex;
	justify-content: center;
	line-height: 44px;
	color: $btn-color;
	border-radius: 0;
	transition: .15s all linear;
	font-weight: 600;
	margin: 0px 6px 6px;
	letter-spacing: .5px;

	/* icons */
	i {
		color: currentColor;
		padding: 0 5px;
	}
}

.btn-lg {
	padding: 0 50px;
	font-weight: 600;
}

.btn-wide {
	width: 100%;
	margin: 0;
}

.btn:hover,
.btn:focus  {
	cursor: pointer;
	background-color: $btn-color;
	border-color: $btn-color;
	color: $color-white;
}

.btn-group {
	margin-bottom: 24px;
}

/* Button Colors
------------------------- */
.btn.btn-default {
	background-color: $color-grey;
	border-color: $color-grey;
	color: rgba(30,30,30,.7);
}
.btn.btn-default:hover,
.btn.btn-default:focus {
	background-color: $color-grey-dark;
	border-color: $color-grey-dark;
	color: rgba(30,30,30,.7);
}

.btn.btn-primary {
	background-color: $color-primary;
	color: $color-white;
	border-color: $color-primary;
}
.btn.btn-primary:hover,
.btn.btn-primary:focus {
	color: $color-white;
	background-color: $color-primary-dark;
	border-color: $color-primary-dark;
}

.btn.btn-secondary {
	background-color: $color-secondary;
	color: $color-white;
	border-color: $color-secondary;
}
.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
	background-color: $color-secondary-dark;
	border-color: $color-secondary-dark;
	color: #fff;
}

.btn.btn-tertiary {
	background-color: $color-tertiary;
	color: $color-white;
	border-color: $color-tertiary;
}
.btn.btn-tertiary:hover,
.btn.btn-tertiary:focus {
	background-color: $color-tertiary-dark;
	border-color: $color-tertiary-dark;
	color: #fff;
}

/* Inverted Backgrounds 
---------------------------------- */
.btn-primary-outline {
	border-color: $color-primary;
	background-color: transparent;
	color: $color-primary;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus {
	border-color: $color-primary;
	background-color: $color-primary;
	color: $color-white;
}
.btn-secondary-outline {
	border-color: $color-secondary;
	background-color: transparent;
	color: $color-secondary;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus {
	background-color: $color-secondary-dark;
	border-color: $color-secondary-dark;
	color: $color-white;
}
.btn-tertiary-outline {
	border-color: $color-tertiary;
	background-color: transparent;
	color: $color-tertiary;
}
.btn-tertiary-outline:hover,
.btn-tertiary-outline:focus {
	background-color: $color-tertiary-dark;
	border-color: $color-tertiary-dark;
	color: $color-white;
}


/* White Backgrounds 
---------------------------------- */
.btn-primary-white {
	background-color: #fff;
	border-color: $color-white;
	color: $color-primary;
}
.btn-primary-white:hover {
	background-color: transparent;
	border-color: $color-white;
	color: $color-white;
}
.btn-secondary-white {
	background-color: #fff;
	border-color: $color-white;
	color: $color-secondary;
}
.btn-secondary-white:hover {
	background-color: transparent;
	border-color: $color-white;
	color: $color-white;
}
.btn-tertiary-white {
	background-color: #fff;
	border-color: $color-white;
	color: $color-tertiary;
}
.btn-tertiary-white:hover {
	background-color: transparent;
	border-color: $color-white;
	color: $color-white;
}