/* =============================================== *\ 
    Forms
\* =============================================== */

form {
	text-align: left;
	color: $color-black;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="date"],
input[type="time"],
input[type="number"],
textarea {
	background-color: transparent;
	min-height: 36px;
	width: 100%;
	margin: 6px 0 24px;
	border:1px solid #ddd;
	font-size: 16px;
	padding: 10px;
}

.select-wrapper {
	position: relative;

	select {
		background-color: transparent;
		border-radius: 0;
		min-height: 36px;
		width: 100%;
		margin: 6px 0 24px;
		border:1px solid #ddd;
		font-size: 16px;
		padding: 10px 36px 10px 10px;
		background-image: none;
		-webkit-appearance: none;
		position: relative;
	}	

	&:after,
	&:before {
		content: "▼";
    position: absolute;
    right: 12px;
    top: 20px;
    font-size: 10px;
    color: rgba(19, 11, 11, 0.4);
	}
	&:before {
		content: "▲";
		top: 9px;
	}
}


textarea{
	resize: none;
}

fieldset {
	border: 1px solid #ddd;
	padding: 12px;
	margin-bottom: 24px;
}

textarea:focus, 
input:focus, 
input[type]:focus, 
.uneditable-input:focus, 
select:focus {   
	border-color: rgba(129,180,210, 0.8);
	box-shadow: 0 1px 1px rgba(129,180,210, 0.075) inset, 0 0 8px rgba(129,180,210, 0.6);
	outline: 0 none;
}

input[type="submit"],
button {
	cursor: pointer;
	margin-bottom: 24px;

	&:focus {
		outline: 0 none;
	}
}

input::placeholder {
	color: #ccc;
	font-style: italic;
}

input[type="text"]:focus:required:invalid,
input[type="email"]:focus:required:invalid,
textarea:focus:required:invalid,
select:focus:required:invalid {
	outline: 0 none;
	border-color: rgba(200,134,99, .8);
	box-shadow: 0 1px 1px rgba(200,134,99, .075) inset, 0 0 8px rgba(200,134,99, .6);
}

/* Netlify Captcha */
.g-recaptcha {
	float:right;
	margin-bottom: 24px;
}

.Block, 
.Block-small {
		form {
		.row > .col-xs-12 {
			padding-top: 0;
			padding-bottom: 0;
		}
	}
}

/* Input Groups 
 ----------------------------------*/
div[role=group] {
	width: 100%;

	/* Input Button Group */
	&.input-btn-group {
		margin: 6px 1.5rem 24px;
  
		div[class*=col] {
			padding: 0;
		}
		
		input[type=text] {
			margin: 0;
			line-height: 42px;
			padding: 0 10px;
		}
  
		input[type=submit],
		button {
			padding: 0 10px;
			margin: 0;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
			height: 44px;
			line-height: 40px;
			-ms-flex-negative: 0;
			flex-shrink: 0;
		}
	}
}
  