/* =============================================== *\ 
    Pricing Table
\* =============================================== */

.table {
	background-color: #fff;
	display: flex;
	color: $color-black;
	width: 100%;
	border-radius: 8px;
	border: 1px solid #ddd;
	box-shadow: 4px 4px 20px 0 rgba(72,63,63,.25);
	margin: 0;
}

.table > [class*="column"] {
	padding: 0;
}
.table > [class*="column"].active {
	transform: scale(1.06);
	z-index: 2;
	overflow: hidden;
	border-radius: 8px;
	box-shadow: 4px 4px 20px 0 rgba(72,63,63,.25);
}
.table > [class*="column"]:first-of-type li {
	justify-content: end;
	padding-left: 30px;
}
.table > [class*="column"]:first-of-type .column-header {
	align-items: end;
}

.table > [class*="column"]:last-child .column-header{
	border-top-right-radius: 8px;
}
.table > [class*="column"]:last-child .column-footer{
	border-bottom-right-radius: 8px;
}

.table > [class*="column"] .column-footer {
	justify-content: center;
	align-items: center;
	display: flex;
	background-color: #fff;
	border: 0px;
}

.table > [class*="column"] .column-footer .btn-group {
	margin-top: 24px;
}

.table > [class*="column"]:nth-child(even) ul {
	background-color: #ebebeb;
}
.table > [class*="column"]:nth-child(odd) ul li:nth-child(odd){
	background-color: #f6f6f6;
}

.table > [class*="column"]:nth-child(odd) ul {
	background-color: #e3e3e3;
}
.table > [class*="column"]:nth-child(even) ul li:nth-child(odd){
	background-color: #fff;
}

.column-header {
	height: 160px;
	display: flex;
	border-bottom: 1px solid #ccc;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
	padding: 0 30px;
}
.column-header img {
	position: absolute;
	width: 40%;
	opacity: .3;
	right: -20%;
	top: 15px;
}
.column-header h3 {
	margin-top: 0;
}

.column-premium .column-header {
	background: linear-gradient(#81b4d2 60%, #bce4fa);
	color: rgba(250,250,250.8);
}
.column-basic .column-header {
	background: linear-gradient(#c98764 60%, #f5b491);
	color: rgba(250,250,250.8);
}
.column-custom .column-header {
	background: linear-gradient(#404040 60%,#6f6f6f);
	color: rgba(250,250,250.8);
}

.column-custom .column-header img {
	opacity: .1;
}

.column-custom .column-header p {
	margin-top: 12px;
}

.table > [class*="column"] ul {
	margin: 0;
	padding: 0;
}

.table > [class*="column"] ul li {
	height: 48px;
	list-style: none;
	border-bottom: 1px solid #ccc;
	justify-content: center;
	align-items: center;
	display: flex;
}

.table > [class*="column"] ul li span {
	display: none;
} 

.table > .desc-column ul li {
	justify-content: end;
	padding-left: 30px;
}
.table > .desc-column .column-header {
	align-items: end;
}

@media (max-width: 940px){
	.table {
		flex-direction: column;
		border-radius: 0;
		background-color: transparent;
		border: 0;
		box-shadow: none;
	}
	.table > [class*="column"] {
		width: 100%;
		margin-bottom: 30px;
		border-radius: 8px;
		border: 1px solid #ccc;
		box-shadow: 4px 4px 20px 0 rgba(72,63,63,.25);
		max-width: none;
	}
	.table > [class*="column"]:first-of-type {
		display:none;
	}

	.table > [class*="column"] ul li span {
		display: inline;
		padding-right: 20px;
		opacity: .6;
	}

	.table > [class*="column"] .column-footer {
		padding: 0 30px;
		padding-top: 12px;
	}
	.table > [class*="column"] .column-footer .btn {
		width: 100%;
		text-align: center;
	}

	.column-header {
		overflow: hidden;
		border-top-left-radius: 8px;
    border-top-right-radius: 8px;
	}
	.column-header img{
		width: 120px;
		right: -60px;
	}
	.column-footer {
		overflow: hidden;
		border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
	}
	
	.column-header.bg-color-primary {
		background: linear-gradient(-10deg, #81b4d2 60%, #bce4fa);
	}
	.column-header.bg-color-secondary {
		background: linear-gradient(-10deg, #c98764 60%, #f5b491);
	}
	.column-header.bg-color-black {
		background: linear-gradient(-10deg, #404040 60%,#6f6f6f);
	}

	.desc-column {
		display: none;
	}
}