/* =============================================== *\
   Sidebar Styles
\* =============================================== */

/* Page Wrapper */
.page-wrapper > main {
	display: flex;
	flex: 1;
	flex-direction: column;
}
.page-wrapper > main .aside  {
	max-width: 250px;
	padding: 38px 0;
    background-color: #eee;
	height: 100vh;
	top: 72px;
	
	position: -webkit-sticky;
	position: sticky;
}
.page-wrapper > main .aside nav ul {
	list-style: none;
	margin: 0;
	padding: 0 38px;
}


aside.subsections ul {
	list-style: none;
}
aside.subsections ul a {
	text-decoration: none;
	padding: 2px 0;
	display: block;
	color: #71768B;
}
aside.subsections ul h3 {
	margin-top: 0;
	padding-top: 20px;
}