
.sidebar {
    position: fixed;
    background-color: var(--color-simple-one);
    color: var(--color-white);
    width: 250px;
    top: 72px;
    height: calc(100vh - 72px);
    overflow: scroll;
  }

  .sidebar h3 {
    padding-left: 20px;
    font-weight: 400;
    margin: 0;
    padding: 20px;
    color: #71768B;
  }
  
  .sidebar ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .sidebar ul a {
    padding: 10px 10px 10px 20px;
    display: block;
    text-decoration: none;
    border-bottom: 1px solid #19202E;
    color: var(--color-white);
  }
  
  .sidebar ul.subsection {
    padding: 5px 35px ;
    border-bottom: 1px solid #19202E;
  }
  .sidebar ul.subsection a {
    border: 0;
    padding: 5px;
  }