{{ define "head" }}
    {{ $project := resources.Get "js/modules/Project/index.js" | js.Build (dict "sourcemap" "inline" ) }} 
    {{ $jsMin := $project | minify}}       
    <script async type="module" src="{{ $jsMin.RelPermalink }}" defer></script>
{{ end }}

{{ define "main" }}
    
    {{ partial "header" . }}

    <main class="flex-grow flex-col bg-zinc-100">
        <!-- noscript tag starts -->
        <noscript>
            <!-- We need JS Modal -->
            <div class="bg-red-100 text-red-800 p-4 m-4 flex flex-col shadow rounded-lg w-full max-w-screen-md mx-auto">
                <strong>JavaScript Required:</strong> Our website uses JavaScript to provide you with the best experience. Please enable JavaScript in your browser settings and reload this page.
            </div>
        </noscript>
        <!-- noscript tag ends -->

        <mosaic-project class="w-full"></mosaic-project>

        {{ .Content }}

    </main>

{{ end }}